@using Microsoft.AspNet.Identity

<h1>Welcome @User.Identity.Name</h1>
@{

    ViewBag.Title = "Admin Page";
}

<h2>Admin</h2>

<p>Here is the admin page. What would you like to do?</p>
<p>Put the links to other pages here.</p>