@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome back to the table.</h1>
    <p class="lead">MealMate is a project MVC application centered on tracking intake and calorie management. Sign in to get started!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Eating right is important.</h2>
        <p>
            With MealMate, you can keep track of what you eat, and when! Add calories, and the calories you burned, and never forget where you are in your diet plan again.</p>
    </div>
    <div class="col-md-4">
        <h2>Eat what you love.</h2>
        <p>MealMate also allows you to keep track of all the meals you enjoy, so when the "I don't know, you pick." hits, you have plenty of places to start.</p>
    </div>
    <div class="col-md-4">
        <h2>Split the pain of splitting the bill.</h2>
        <p>MealMate lets you take credit and debit card payments directly and securely to your account with Stripe. When you'd rather not split the check, or your friends are short on cash, MealMate lets you focus on food and fun, and makes funds a breeze.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>